* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 16px;
	font-family: 'Assistant', sans-serif;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
		radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
	background-blend-mode: multiply, multiply;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

main {
	display: grid;
	height: 75vh;
	width: 60vw;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(10, 1fr);
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 20px;
}

.logo {
	padding: 4em 1em;
	grid-column: 3/6;
	grid-row: 1/2;
	i {
		font-size: 6rem;
	}
}
.header {
	grid-column: 2/7;
	grid-row: 2/3;
	h1 {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 400;
	}
}
.pass {
	grid-column: 2/7;
	grid-row: 4/5;
	&__input {
		padding: 1rem 2rem;
		max-height: 3rem;
		max-width: 30rem;
		border: none;
		border-radius: 10px;
		font-size: 4rem;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
}
.validates {
	align-items: start;
	grid-column: 3/6;
	grid-row: 6/6;
	&__heading {
		font-size: 1.6rem;
		text-transform: uppercase;
		font-weight: 400;
		padding-bottom: 1rem;
	}
	&__list {
		font-size: 1.8rem;
		list-style: none;
		&__item {
			margin: 2rem 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: start;
			&__icon {
				font-size: 3rem;
				margin-right: 1rem;
				color: tomato;
			}
			.icon--ok{
				color: rgb(124, 184, 34);
			}
		}
	}
}
.submit {
	grid-column: 3/6;
	grid-row: 8/10;
	&__btn {
		padding: 0.5rem 1rem;
		background-color: black;
		color: white;
		font-size: 2em;
		text-transform: uppercase;
		border: none;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
}
